* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gameboard {
    --game-size: 4;
    --cell-size: calc(80vmin / var(--game-size));
    --cell-gap: 1vmin;
    position: relative;
    display: grid;
    grid-template-columns: repeat(var(--game-size), var(--cell-size));
    grid-template-rows: repeat(var(--game-size), var(--cell-size));
    gap: var(--cell-gap); 
    border-radius: 1vmin;
}

.cell {
    background-color: #444;
    border-radius: 1vmin;
}

.tile {
    --x:0;
    --y:1;
    position: absolute;
    left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)));
    top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)));   
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: 1vmin;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: calc(var(--cell-size) / 4);
    background-color: #fff;
    color: #000;
    transition-property: top, left;
    transition-timing-function: ease-in;
    transition-duration: 100ms;
    animation: show 100ms;
}

@keyframes show {
    0%{
        opacity: 0.5;
        transform: scale(0);
    }
}